*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  font-family: 'Asap', sans-serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: 0; }

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.btn {
  width: 100%;
  max-width: 150px;
  height: 50px;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all; }

.primary {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }
  .primary:hover {
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); }

.secondary {
  border: 1px solid black; }
  .secondary:hover {
    background-color: #000;
    color: #fff; }

.large {
  max-width: 245px; }

.down {
  margin-left: 15px;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  background-color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }
  .down .fas {
    font-size: 20px;
    color: #4d4d4d;
    padding: 8px; }
  .down:hover {
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); }

.section__title {
  font-size: 46px;
  font-weight: 500;
  color: #4d4d4d; }
  .section__title::before {
    content: '';
    display: block;
    margin-bottom: 10px;
    height: 4px;
    width: 60px;
    background-color: #4d4d4d; }

.menu__burger {
  cursor: pointer;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  display: none; }
  .menu__burger span {
    display: block;
    background-color: #4f4f4f;
    height: 2px;
    width: 24px;
    margin: 4px; }
  .menu__burger.active {
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all; }
    .menu__burger.active span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 32% 80%;
      -ms-transform-origin: 32% 80%;
      transform-origin: 32% 80%; }
    .menu__burger.active span:nth-child(2) {
      display: none; }
    .menu__burger.active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 32% 80%;
      -ms-transform-origin: 32% 80%;
      transform-origin: 32% 80%; }

.header {
  background: url("/images/header/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }
  .header__row {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__nav--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
  .header__nav--link {
    cursor: pointer;
    margin-left: 30px;
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all; }
    .header__nav--link::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: #4d4d4d;
      opacity: 0;
      margin-top: 4px;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all; }
    .header__nav--link:hover:after {
      opacity: 1; }
  .header__content {
    margin: 90px 0 90px;
    padding: 15px; }
    .header__content--title {
      font-size: 90px;
      line-height: 67px;
      font-weight: 500;
      color: #4d4d4d; }
    .header__content--subtitle {
      font-size: 22px;
      line-height: 67px;
      font-weight: 500;
      color: #707070;
      margin-bottom: 10px;
      position: relative;
      left: 3px; }

.about {
  height: 100vh; }
  .about__row {
    margin-top: 25px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .about__content {
    margin-right: 30px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .about__text {
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 32px;
    margin: 25px 0; }
  .about__img {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

@media only screen and (max-width: 991px) {
  .about__content {
    margin-bottom: 25px; }
  .about__row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media only screen and (max-width: 767px) {
  .menu__burger {
    display: block; }
  .header {
    background-position: left; }
    .header__nav {
      display: none; }
    .header__content {
      margin: 50px 0 50px; } }

@media only screen and (max-width: 600px) {
  .header__content--title {
    font-size: 72px;
    line-height: 47px; }
  .header__content--subtitle {
    font-size: 18px;
    line-height: 37px; } }
