*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  font-family: 'Asap', sans-serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: 0; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.btn {
  width: 100%;
  max-width: 150px;
  height: 50px;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all; }

.primary {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }
  .primary:hover {
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); }

.send {
  display: block;
  margin: 70px auto 170px; }
  .send:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3); }

.large-btn {
  max-width: 190px;
  margin: 0 auto;
  display: block; }

.secondary {
  border: 1px solid black; }
  .secondary:hover {
    background-color: #000;
    color: #fff; }

.large {
  max-width: 245px; }

.down {
  margin-left: 15px;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  background-color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }
  .down .fas {
    font-size: 20px;
    color: #4d4d4d;
    padding: 8px; }
  .down:hover {
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); }

.section__title {
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 500;
  color: #4d4d4d; }
  .section__title::before {
    content: '';
    display: block;
    margin-bottom: 10px;
    height: 4px;
    width: 60px;
    background-color: #4d4d4d; }

.centered {
  text-align: center;
  padding: 45px; }
  .centered::before {
    margin: 10px auto; }

.white {
  color: #fff; }
  .white::before {
    background-color: #fff; }

.menu__burger {
  cursor: pointer;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  display: none; }
  .menu__burger span {
    display: block;
    background-color: #4f4f4f;
    height: 2px;
    width: 24px;
    margin: 4px; }
  .menu__burger.active {
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all; }
    .menu__burger.active span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 32% 80%;
      -ms-transform-origin: 32% 80%;
      transform-origin: 32% 80%; }
    .menu__burger.active span:nth-child(2) {
      display: none; }
    .menu__burger.active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 32% 80%;
      -ms-transform-origin: 32% 80%;
      transform-origin: 32% 80%; }

#myChart {
  padding: 15px; }

.header {
  background: url("/images/header/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }
  .header__row {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__nav--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
  .header__nav--link {
    cursor: pointer;
    font-size: 14px;
    margin-left: 30px;
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all; }
    .header__nav--link::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: #4d4d4d;
      opacity: 0;
      margin-top: 4px;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all; }
    .header__nav--link:hover:after {
      opacity: 1; }
  .header__content {
    margin: 90px 0 90px;
    padding: 15px; }
    .header__content--title {
      font-size: 90px;
      line-height: 67px;
      font-weight: 500;
      color: #4d4d4d; }
    .header__content--subtitle {
      font-size: 22px;
      line-height: 67px;
      font-weight: 500;
      color: #707070;
      margin-bottom: 10px;
      position: relative;
      left: 3px; }

.about {
  min-height: 100vh; }
  .about__row {
    margin-top: 25px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .about__content {
    margin-right: 30px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .about__text {
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 32px;
    margin: 25px 0; }
  .about__img {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

.services {
  background-color: #f6f6f6; }
  .services__row {
    padding: 55px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .services__item {
    -ms-flex-preferred-size: 33.3333333%;
    flex-basis: 33.3333333%;
    text-align: center;
    margin-bottom: 35px; }
  .services__img {
    margin: 0 auto; }
  .services__name {
    font-size: 24px;
    line-height: 49px;
    color: #4d4d4d;
    font-weight: 500; }

.portfolio {
  background-color: #f6f6f6;
  padding: 50px; }
  .portfolio__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 35px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .portfolio__img {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%; }

.swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px; }

.swiper-wrapper {
  max-width: 900px; }

.swiper-button-next,
.swiper-button-prev {
  color: #4f4f4f; }

.slider {
  padding: 30px; }
  .slider__img {
    padding-left: 15px; }
  .slider__content {
    padding-right: 15px;
    margin-left: 15px; }
    .slider__content--name {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 40px;
      font-weight: 400;
      display: block;
      color: #212121; }
    .slider__content--rank {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      font-style: italic;
      font-weight: 400;
      display: block;
      color: #212121;
      margin-bottom: 10px; }
    .slider__content--desc {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: #878787; }

.features {
  padding: 50px 15px;
  background-color: #f6f6f6; }
  .features__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .features__item {
    text-align: center;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
    .features__item--img {
      margin: 0 auto; }
    .features__item--num {
      display: block;
      margin: 15px 0;
      font-size: 30px;
      line-height: 32px;
      font-weight: 500;
      color: #212121; }
    .features__item--desc {
      text-transform: uppercase;
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
      color: #212121; }

.footer {
  background-image: url("/images/form/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; }
  .footer__form {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px; }
    .footer__form--name, .footer__form--email {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 60px;
      width: 100%;
      max-width: 370px;
      margin-right: 10px;
      margin-bottom: 25px;
      font-size: 16px;
      padding: 10px; }
    .footer__form--email {
      margin-right: 0; }
    .footer__form--text {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      width: 100%;
      max-width: 750px;
      font-size: 16px;
      padding: 15px 15px 120px 15px; }
  .footer__text {
    text-align: center;
    font-size: 16px;
    line-height: 44px;
    font-weight: 400;
    color: #fff;
    display: block;
    margin: 0 auto; }
    .footer__text::before {
      content: '';
      width: 100%;
      max-width: 1170px;
      background-color: #fff;
      height: 2px;
      display: block;
      margin: 0 auto; }

@media only screen and (max-width: 991px) {
  .about__content {
    margin-bottom: 25px; }
  .about__row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media only screen and (max-width: 767px) {
  .menu__burger {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3; }
  .header {
    background-position: left; }
    .header__nav {
      display: none; }
      .header__nav.active-nav {
        display: block;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff; }
        .header__nav.active-nav .header__nav--links {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
        .header__nav.active-nav .header__nav--link {
          margin: 60px 0 4% 0; }
    .header__content {
      margin: 60px 0 60px; }
  .slider {
    padding: 20px; }
    .slider__content--name {
      font-size: 24px;
      line-height: 30px; }
    .slider__content--rank {
      font-size: 12px;
      line-height: 12px; }
    .slider__content--desc {
      font-size: 14px;
      line-height: 20px; }
  .features {
    padding: 40px 15px; }
    .features__item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin-bottom: 20px; }
  .footer__form--name, .footer__form--email {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 750px;
    margin-right: 0;
    margin-bottom: 25px; }
  .footer__form--text {
    padding: 15px 15px 80px 15px; } }

@media only screen and (max-width: 600px) {
  .header__content {
    margin: 60px 0 60px; }
    .header__content--title {
      font-size: 72px;
      line-height: 67px; }
    .header__content--subtitle {
      font-size: 18px;
      line-height: 37px; }
  .services__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 20px; }
  .swiper-slide {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .slider__img {
    margin-bottom: 15px; } }

@media only screen and (max-width: 480px) {
  .centered {
    padding: 25px;
    margin: 20px 0; }
  .header__content {
    margin: 40px 0 40px; }
    .header__content--title {
      font-size: 62px;
      line-height: 57px; }
  .btn {
    margin-bottom: 15px; }
  .about__text {
    line-height: 24px;
    margin: 20px 0; }
  .services__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .portfolio {
    padding: 40px; }
  .features__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .section__title {
    font-size: 36px; } }
