.btn {
  width: 100%;
  max-width: 150px;
  height: 50px;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  transition: $transition;
}

.primary {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.4);
  &:hover {
    box-shadow: 0px 0px 12px rgba($color: #000000, $alpha: 0.4);
  }
}

.large-btn {
  max-width: 190px;
  margin: 0 auto;
  display: block;
}
.secondary {
  border: 1px solid black;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.large {
  max-width: 245px;
}

.down {
  margin-left: 15px;
  transition: $transition;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.4);

  & .fas {
    font-size: 20px;
    color: #4d4d4d;
    padding: 8px;
  }
  &:hover {
    box-shadow: 0px 0px 12px rgba($color: #000000, $alpha: 0.4);
  }
}

.section__title {
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 500;
  color: #4d4d4d;

  &::before {
    content: '';
    display: block;
    margin-bottom: 10px;
    height: 4px;
    width: 60px;
    background-color: #4d4d4d;
  }
}
.centered {
  text-align: center;
  padding: 45px;
  &::before {
    margin: 10px auto;
  }
}

.menu__burger {
  cursor: pointer;
  transition: $transition;
  display: none;
  span {
    display: block;
    background-color: #4f4f4f;
    height: 2px;
    width: 24px;
    margin: 4px;
  }
  &.active {
    transition: $transition;
    & span:nth-child(1) {
      transform: rotate(45deg);
      transform-origin: 32% 80%;
    }

    & span:nth-child(2) {
      display: none;
    }

    & span:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: 32% 80%;
    }
  }
}
