@media only screen and (min-width: 1199px) {
}

@media only screen and (max-width: 991px) {
  .about {
    &__content {
      margin-bottom: 25px;
    }
    &__row {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu__burger {
    display: block;
  }
  .header {
    background-position: left;
    &__nav {
      display: none;
    }
    &__content {
      margin: 50px 0 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header__content {
    &--title {
      font-size: 72px;
      line-height: 47px;
    }
    &--subtitle {
      font-size: 18px;
      line-height: 37px;
    }
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
